@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
.logo-image{
    display: flex;
    position: fixed;
    z-index: 1000;
    top: 13px;
    left: 145px;
    transition: 0.7s ease;
}
.logo-image:hover{
    overflow: hidden;
    transform: scale(1.25);
}
header {
    background-image: linear-gradient(90deg, #051722 0%, #03192b 35%, #083b6c 100%);
    box-shadow: 0 5px 10px rgba(1 1 1 / 25%);
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
    color: #ffffff;
    transition: 0.8s ease;
}
.logo:hover{
    color: #667ecc;
    transform: scale(1.04);
}
.navigation a{
    overflow: auto;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 1.1em;
    padding-left: 30px;
    transition: 0.5s ease;
}
.navigation a:hover{
    color: #f3ae60;
   text-shadow: 0 0 55px rgba(238, 161, 61, 0.918);
}
section{
    padding: 120px 200px;
}
.main{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(images/bkgrnd2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.main h2{
    color: #f0f0f0;
    font-size: 1.4em;
    font-weight: 500;
    margin-top: 20px;
}
.main h2 span{
    display: inline-block;
    text-shadow: 0 0 30px rgba(0, 0, 0, 0.918);
    color: #667ecc;
    font-size: 3em;
    font-weight: 700;
}
.main h3{
    color: #f0f0f0;
    font-size: 2em;
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
.jobs{
    margin-bottom: 50px;
}
.main-btn{
    color: #f0f0f0;
    background-color: #667ecc;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding:0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 20px;
    transition: 0.5s ease;
}
.main-btn:hover{
    background-color: #f3ae60;
    transform: scale(1.1);
    box-shadow: 0 0 25px rgba(238, 161, 61, 0.918);
}
.paragraph{
    width: 100%;
}
.social-icons a{
    color: #ffff;
    font-size: 1.5em;
    padding-right: 20px;
    margin-bottom:10px;
    transition: 0.8s ease;
    
}
.social-icons a:hover{
    color: #667ecc;
    transform: scale(1.1);
}
.popup{
    width: 100%;
    height: 100%;
    background: url(images/blur2.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.popup-content{
    background-color: #f0f0f0;
    width: 35.25em;
    max-height: 500px;
    border-radius: 40px;
    padding: 35px;
    margin-top: 50px;
    text-align: center;
}
.rclose{
    position: absolute;
    width: 30%;
    top:20px;
    right: 5px;
    font-size: 30em;
    opacity: 0;
}
.lclose{
    position: absolute;
    width: 30%;
    top:20px;
    left: 5px;
    font-size: 30em;
    opacity: 0;
}
.hw-btn{
    color: #f0f0f0;
    background-color: #667ecc;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding:0.9375em 2.3875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-top: 15px;
    margin-right: 20px;

    transition: 0.3s ease;
}
.hw-btn:hover{
    background-color: rgb(83, 211, 111);
    transform: scale(1.1);
    box-shadow: 0 0 45px rgba(83, 211, 111, 0.918);
}

.gd-btn{
    color: #f0f0f0;
    background-color: #667ecc;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding:0.9375em 1.9em;
    letter-spacing: 1px;
    border-radius: 15px;
    transition: 0.3s ease;
    margin-top: 20px;
    margin-right: 20px;
}
.gd-btn:hover{
    background-color: #f3ae60;
    transform: scale(1.1);
    box-shadow: 0 0 45px rgba(238, 161, 61, 0.918);
}
.s-info h3{
    color: #667ecc;
    font-size: 2em;
    margin-bottom: 20px;
}
.title{
    display: flex;
    justify-content: center;
    color: #667ecc;
    font-size: 2.2em;
    font-weight: 800;
    margin-bottom: 30px;
}
.about p{
    padding-top: 10px;
    font-size: 1.3em;
    font-weight: 500;
    line-height: 1.7;
    text-align: justify;
}
.linkt{
    color: #4b63b1;
    font-size: 1.3em;
    font-weight: 600;
    line-height: 1.7;
    text-decoration: none;
}
section .timeline{
    padding: 10px;
}
.timeline{
    align-items: center;
    padding-top: 70px;
    padding-bottom: 70px;
    width:100%;
    text-align: center;
    background-color: #03192b;
    background-size: cover;
    background-position: center;
}

.timeline h2{
    padding-bottom: 0px;
}
.time-img{
    width: 100%;
    padding: 0px;
    position: relative;
    display: flex;
}
.dtls{
    margin-top: 70px;

}
.details-btn{
    justify-content: center;
    color: #f0f0f0;
    background-color: #667ecc;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    padding:0.9375em 2.3875em;
    letter-spacing: 1px;
    border-radius: 25px;
    transition: 0.3s ease;
}
.details-btn:hover{
    background-color: rgb(83, 211, 111);
    transform: scale(1.1);
    box-shadow: 0 0 45px rgba(83, 211, 111, 0.918);
}

.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.card{
    background-color: #f0f0f0;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1 / 15%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.8s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #4b63b1;
    font-size: 7em;
    text-align: center;
}
.info{
    font-size: 0.9em;
    text-align: center;
}
.info h3{
    color: #4b63b1;
    font-size: 1.9em;
    font-weight: 700;
    margin: 10px;
}
.projects{
    background-color: #09153d;
}
.hw-projects{

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #03192b;
    width: 100%;
}
.hw-projects .title{
    color: rgb(83, 211, 111);
}
.gd-projects{

    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-color: #03192b;
    width: 100%;
}
.gd-projects .title{
    color: #f3ae60;
}
.projects .content{
    margin-top: 30px;
}
.hw-projects .project-card{
    text-decoration: none;
    background-color: rgb(116, 226, 140);
    border: 1px solid rgb(83, 211, 111);
    border-radius: 15px;
    min-height: 12em;
    width: 20em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
}
.gd-projects .project-card{
    text-decoration: none;
    background-color: #f3ae60;
    border: 1px solid #f3ae60;
    border-radius: 15px;
    min-height: 12em;
    width: 20em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card{
    text-decoration: none;
    background-color: #ffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    min-height: 12em;
    width: 20em;
    overflow: hidden;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
}
.project-image img{
    width: 100%;
}
.project-info{
    text-decoration: none;
    padding: 1em;
}
.project-category{
    font-size: 0.8em;
    color: #09153d;
}
.project-details{
    font-size: 1.1em;
    color: #09153d;
    display: flex;
    justify-content: space-between;
    font-weight: 900;
}
.cards-contact .icon{
    font-size: 4.5em;
}

.contact .info h3 {
    color: #000;
}

.contact .info p {
    font-size: 1.25em;
}
.info p{
    font-size: 1.1em;
}
.cards-contact .icon{
    font-size: 4em;
}
.footer {
    background-color: #000016;
    color: #fff;
    padding: 1em;
    display: flex;
    justify-content: space-between;
}
.cards-contact .content{
    padding-bottom: 60px;
}
.footer-title {
    font-size: 0.9em;
    font-weight: 400;
}
.card{
    text-decoration: none;
}
.card .info{
    text-decoration: none;
    color: #000;
}
.footer-title .github{
    text-decoration: none;
    color: #8ea7ec;
    font-size: 1.1em;
    font-weight: 600;
}

.footer .social-icons a{
    font-size: 1.3em;
    padding: 0 20px 0 0;
}


@media(max-width:1300px){
    section{
        padding: 80px 70px;
    }

}
@media(max-width:1200px){
    header{
        height: 60px;
        padding:20px 10px;
    }
    .logo{
        opacity: 0;
        width: 30%;
    }
    .logo-image{
        left: 20px;
        top: 10px;
    }
    .navigation{
        padding-right: 10px;
        padding-left: 10px;
        flex-direction: column;
    }
    .title{
        font-size: 2em;
    }
    .about p{
        font-size: 1em;
    }
    section{
        padding: 80px 80px;
    }
    .main{
        font-size: 1.1em;
        background-position: cover;
    }
    .main h2{
        font-size: 1.2em;
    }
    .main h3{
        font-size: 1.8em;
    }
    .main-btn{
        margin-bottom: 10px;
    }
    .paragraph{
        width: 60%;
    }
    .jobs{
        flex-direction: column;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:755px){
    body{
        font-size: 15px;
    }
    header{
        height: 60px;
        padding:20px 2px;
    }
    .logo{
        opacity: 0;
        width: 10%;
    }
    .navigation{
        padding-left: 5px;
    }
    .timeline iframe{
        height: 200px;
    }
}
@media(max-width:650px){
    body{
        font-size: 13px;
    }
    .navigation{
        font-size: 0.8em;
        padding-left: 1px;
    }
    .paragraph{
        width: 80%;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:450px){
    header{
        position: fixed;
    }
    .navigation a{
        font-size: 1.3em;
    }
    section{
        padding: 80px 50px;
    }
    .main{
        background-position: cover;
    }
    body{
        font-size: 11px;
    }
    .main{
        font-size: 1.2em;
    }
    .hw-btn{
        font-size: 1.2em;
        padding: 0.9375em 1.4em;
        border-radius: 20px;
        margin-right: 0px;
    }
    .gd-btn{
        font-size: 1.2em;
        padding: 0.9375em 1.1em;
        border-radius: 20px;
        margin-right: 0px;
    }
    .navigation{
        font-size: 0.8em;
        padding-left: 1px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:420px){
    .footer{
        padding: 0.5em;
    }
    .footer .social-icons{
        margin-right: 1px;
        padding-right: 1px;
        font-size: 0.001em;
    }
}
@media(max-width:400px){
    body{
        font-size: 8px;
    }
    .navigation{
        font-size: 1.001em;
    }
    section{
        padding: 70px 50px;
    }
    .paragraph{
        font-size: 1.3em;
    }
    .title{
        font-size: 2.5em;
    }
    .about p{
        font-size: 1.4em;
    }
    .hw-btn{
        font-size: 1.2em;
        padding: 0.9375em 1.3em;
        border-radius: 20px;
        margin-right: 0px;
    }
    .gd-btn{
        font-size: 1.2em;
        padding: 0.9375em 1em;
        border-radius: 20px;
        margin-right: 0px;
    }
    .footer .social-icons{
        margin-right: 1px;
        padding-right: 1px;
        font-size: 0.8em;
    }
}
@media(max-width:380px){
    body{
        font-size: 7px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:330px){
    body{
        font-size: 5px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:290px){
    body{
        font-size: 5px;
    }
    .navigation a{
        padding-left: 24px;
    }
    .main{
        padding-left: 35px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:270px){
    body{
        font-size: 4px;
    }

    .content{
        flex-direction: column;
        align-items: center;
    }
}

